*{
    font-family: sans-serif;
}
main{
    text-align: center;
}
main div{
    display:inline-block;
    padding:.3em;
}
main div:nth-of-type(odd){
    background-color: lightgray;
}
main div:hover{
    background-color:rgb(88, 230, 230);
}
p{
    margin:0;
}
.error{
    background-color:red;
    color:white;
    font-weight: bold;
}