header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
}
#cabecera{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:60px;
    background-color: black;
    color:white;
}
h1{
    text-align: center;
    color:white;
    margin:0;
    font-size: 50px;
}

#subcabecera{
    position: absolute;
    left:0;
    top:60px;
    width:100%;
    height:40px;
    background-color: gray;
}

#osi{
    position:absolute;
    left:20%;
    top:0;
    width:40%;
    height:40px;

}
#tcpip{
    position:absolute;
    left:60%;
    top:0;
    width:40%;
    height:40px;
}

h2{
    text-align: center;
    color:white;
    margin:0;
    font-size: 30px;
}

main{
    position:fixed;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    background-color: #906b6b;
}

aside{
    z-index:10;
    position:fixed;
    left:0;
    top:100px;
    width:20%;
    bottom:0;
    background-color:white;
}
#modeloOSI{
    position: absolute;
    top:0;
    left:20%;
    width:38%;
    height:100%;
    display:none;
}
#modeloTCPIP{
    position: absolute;
    top:0;
    left:62%;
    width:34%;
    height:100%;
    display:none;
}

.capa {
    height: 50px;
    width: 100%;
    margin:10px;
    border:2px solid black;
    text-align: center;
    font-size:40px;
    font-weight: bold;
    border-radius: 10px;
}

.aplicacion{
    background-color: #41af7e;
}

.aplicacionTCPIP{
    height:180px;
}

.transporte{
    background-color: #3688af;
}

.red{
    background-color: #af7333;
}

.fisica{
    background-color: #af30a9;
}

.fisicaTCPIP {
    height: 110px;
}

#capaTodo{
    position:fixed;
    left:0;
    top:-100%;
    width:100%;
    height:100%;
    z-index: 10;
    background-color: black;
    z-index:999;
}