#contenedor{
    width:100%;
    text-align: center;
    width:500px;
    margin:auto;
}
div.celda{
    display:inline-block;
    outline:1px solid black;
    width:50px;
    height:50px;
}

.ocupada{
    background-color: black;
}