video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#info{
    position:fixed;
    left:calc(50% - 200px);
    top:calc(50% - 50px);
    width:400px;
    height:100px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    font-size:2em;
    display:none;
    text-align: center
}
.mostrar{
    display:block !important;
}