h1{
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    color:teal;
    font-size:3em;
}

input{
    width:85%;
    height:56px;
    font-size:1.8em;
    padding-left:.5em;
    font-family: sans-serif;
    border-radius:10px 0 0 10px;
    border:1px solid brown;
    outline:none;
    color:brown;
    text-align: left;
    float:left;
}

button{
    width:10%;
    height:60px;
    font-size:2em;
    color:white;
    font-family: sans-serif;
    font-weight: 700;
    background-color: brown;
    border-radius: 0 10px 10px 0;
    border:none;
    outline:none;
}

button:hover{
    background-color:red;
}

li{
    font-size:2em;
    color:teal;
    font-family:sans-serif;
    margin-bottom:.5em;
}

li button{
    border-radius: 20px;
    font-size:.5em;
    width:auto;
    height:2em;
}
